<div class="article-author-side">
  <a class="author-social" href="https://www.facebook.com/Vitals"> <i class="icon-facebook"></i> Vitals on Facebook</a>
  <a class="author-social" href="https://twitter.com/vitals"> <i class="icon-twitter"></i> Vitals on Twitter</a>
  <a class="author-social" href="http://www.pinterest.com/VitalsCom/"> <i class="icon-pinterest"></i> Vitals on Pinterest</a>
  <hr>
  <p>Vitals turns information into knowledge that helps you make better health decisions. We believe that when patients are able to find the right doctor or health facility, it leads to trusted relationships, improved care and better overall health.</p>
</div>
