<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    <a class="author-social" href="https://www.facebook.com/Vitals"> <i class="icon-facebook"></i> Vitals on Facebook</a>
    <a class="author-social" href="https://twitter.com/vitals"> <i class="icon-twitter"></i> Vitals on Twitter</a>
    <a class="author-social" href="http://www.pinterest.com/VitalsCom/"> <i class="icon-pinterest"></i> Vitals on Pinterest</a>
    <hr>
    <p>Vitals turns information into knowledge that helps you make better health decisions. We believe that when patients are able to find the right doctor or health facility, it leads to trusted relationships, improved care and better overall health.</p>
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
			{{ content | remove: '<p>' | remove: '</p>' }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}

</body>
</html>
